@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(192, 100%, 9%);
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    color: hsl(208, 11%, 55%);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
    border: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

header button {
    background-color: white;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1)
}

#first-section {
    background-image: url("images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    padding: 50px;
    margin-bottom: 100px;
}

#first-section-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 30px;
    align-items: center;
}

.image-section {
    text-align: center;
}

.section-image {
    width: 100%;
    height: 400px;
}

#first-section-text p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(192, 100%, 9%);
}

.section {
    margin: 30px 60px;
    padding: 30px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 30px;
    align-items: center;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#fifth-section {
    position: relative;
    top: 50px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px 30px;
    display: block;
    text-align: center;
}

#fifth-section h2 {
    padding: 30px;
}

#fifth-section button {
    margin-bottom: 20px;
    font-weight: bold;
}


footer {
    background-color: hsl(192, 100%, 9%);
    padding: 8em 3em;


}

footer p {
    color: rgb(232, 216, 216);
}

footer li {
    color: rgb(232, 216, 216);
}

footer section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    column-gap: 4%;
}

.contact {
    display: flex;
    gap: 1em;
    margin: 30px 0;
}

.contact img {
    height: 20px;
}

ul {
    list-style: none;
}

.info li {
    padding-bottom: 20px;
}

#footer-image img {
    width: 30px;
    height: 30px;
    margin: 10px;

}

#footer-image li {
    border-radius: 50%;
    border: solid 1px white;
    margin: 0 10px;
}

#footer-image ul {
    display: flex;
    list-style: none;
}

footer>p {
    text-align: right;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }

    header button {
        padding: 20px 30px;
    }

    header>img {
        width: 100px;
        height: 40px;
    }

    .section-image {
        width: 70%;
        height: 300px;
        text-align: center;
    }

    .section {
        padding: 30px 20px;
    }

    #fifth-section h2 {
        padding: 1px;
    }

    #fifth-section {
        width: 90%;

    }
}